*{
    margin: 0;
    color: white;
}
body {
    font-size: 16px;
    background: linear-gradient(to bottom,  #000000, #101725);
  }
@media (max-width: 768px) {
body {
    font-size: 13px;
}
}
html {
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    position: sticky;
    top: 0;
    background-color: #000000;
    color: #5d63d0;
    z-index: 100;
}
.navbar img{
    height: 1.75em;
}
nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 4em;
    list-style: none;
    align-items: center;
    margin-right: 4em;
}
@media (max-width: 768px) {
    nav ul{
        gap: 1em;
        margin-right: 2em;
    }
}
nav ul li a{
    text-decoration: none;
    font-size: 1.25em;
    color: #5d63d0;
    cursor: pointer;
    transition: 0.25s ease-in;
}
nav ul li a:hover {
    transform: scale(1.05);
    font-size: 1.3em;
}
/*idea:  background img for landing page */
.landing-page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:end;
    border-bottom: 1px solid #111111;
    height: 70vh;
    padding: 0.5em;
    padding-bottom: 1em;
    background: rgba(0, 0, 0, 0.5) 
                url(https://i.pinimg.com/originals/91/16/f7/9116f7fd184238ada99fdff9e2f2e3ac.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: aliceblue;
    height: 100vh;
}
.landing-page h1 {
    padding: 1em;   
    font-size: 3em; 
}
.landing-page h4{
    padding: 1em;
    margin-left: 0.5em;
    font-size: larger;
}


.satellite{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.sat-side{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-right: 1px solid #101725;
    float: left;
    background:  #00000097;
}
.sat-side h3{
    color: #EDEDED;
}
.sat-side p {
    color: #d1d1d1;
}
.sat-side .search-name input{
    background: #101725;
    border: 1px solid #5d63d0;
    border-radius: 0.3em ;
    padding: 0.5em;
}
.sat-side  .filter select {
    background: #101725;
    border: 1px solid #5d63d0;
    border-radius: 0.3em ;
    padding: 0.5em;
    color: #959595;
    cursor: pointer;
}
.sat-side .checkbox label{
    color: #959595;
    cursor: pointer;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
.sat-side .checkbox label input[type="radio"] {
    appearance: none;
    width: 1em;
    height: 1em;
    border: 1px solid #5d63d0;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.sat-side .checkbox label input[type="radio"]:checked {
    background-color: #5d63d0;
    border-color: #5d63d0;
}
.sat-side .reset button {
    background-color: #101725;
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border: 1px solid #5d63d0;
    border-radius: 0.3em;
    cursor: pointer;
    transition: 0.25s;
}
.sat-side .reset button:hover{
    background-color: #5d63d0;
    border: 1px solid #101725;
    color: #000000;
    font-weight: bold;
}
.sat-side .search-name{
    padding-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1.5em;
    border-bottom: 1px solid #101725;
}
.sat-side .filter{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid #101725;
}
.sat-side .filter .sat-type{
    padding-top: 0.5em;
    padding-bottom: 0.3em;   
}
.sat-side .filter #sat-type {
    margin-bottom: 1em;
}
.sat-side .filter .status,
.sat-side .filter .altitude{
    padding-top: 1em;
    padding-bottom: 0.3em;
}
.sat-side .filter .checkbox{
    padding-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.sat-side .filter .checkbox .active,
.sat-side .filter .checkbox .inactive{
    padding-right: 1em;
    padding-bottom: 0.3em;
}
.sat-side .filter .altitude-io{
    width: 210px;
    
}
.sat-side .filter em{
    margin-left: 0.2em;
}
.sat-results{
    padding-top: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 1em;
}
.sat-results h3{
    padding: 1em;
    color: #EDEDED;
}
.sat-results ul{
    padding-top: 1em;
    padding-bottom: 0.5em;
    list-style: none;
}
.sat-results ul li{
    margin-bottom: 0.5em;
    padding: 0.5em;
}
.sat-results ul li p{
    font-size: smaller;
    color: #d1d1d1;
}
.sat-results ul .res {
    background-color: #101725;
    margin-bottom: 1em;
    margin-right: 0.5em;
    padding: 0.5em;
    width: 10em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: 0.25s;
}
.sat-results ul .res:hover {
    background-color: #5d63d0;
}

@media (max-width: 768px){
    .sat-side{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        border-right: none;
    }
    .sat-side .search-name{
        padding-bottom: 1.5em;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1.5em;
        border-bottom: 1px solid #111111;
    }
    .sat-side .filter{
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 1em;
        padding-right: 1em;
        border-bottom: 1px solid #111111;
    }
    .sat-side .filter .sat-type{
        padding-top: 0.5em;
        padding-bottom: 0.3em;   
    }
    .sat-side .filter .status,
    .sat-side .filter .altitude{
        padding-top: 1em;
        padding-bottom: 0.3em;
    }
    .sat-side .filter .checkbox{
        padding-bottom: 1em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .sat-side .filter .checkbox .active,
    .sat-side .filter .checkbox .inactive{
        padding-right: 1em;
        padding-bottom: 0.3em;
    }
    .sat-side .filter .altitude-io{
        width: 210px;  
    }
    .sat-side .filter em{
        margin-left: 0.2em;
    }
    .sat-results{
        padding-top: 1em;
        padding-left: 0em;
        padding-right: 0.3em;
        padding-bottom: 1em;
    }
    .sat-results h3{
        padding-left: 1em;
    }
    .sat-results ul{
        padding-top: 0em;
        padding-bottom: 0.5em;
        list-style: none;
    }
    .sat-results ul li{
        margin-bottom: 0.5em;
        padding: 0.5em;
    }
    .sat-results ul li p{
        font-size: smaller;
    }
}




.sat-main-empty {
    float: right;
}
.sat-main{
    padding-top: 0.2em;
}
.sat-main img{
    max-width: 100%;
    height: auto;
}
.sat-main .main-detail-ui{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
} 
.sat-main .main-detail-ui .text-detail h3 {
    padding-bottom: 0.5em;
}
.sat-main .main-detail-ui .text-detail ul{
    list-style: none;
}
.sat-main .main-detail-ui .text-detail ul li {
    padding-bottom: 1em;
}
.sat-main .main-detail-ui .text-detail{
    border-right: 1px solid #111111;
    padding-right: 1em;
    padding-left: 1em;
}
.sat-main .main-detail-ui .block-detail {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
}

